@width: 1em;

.CodeMirror-foldgutter-endrange, .CodeMirror-foldgutter, .CodeMirror-foldgutter-open, .CodeMirror-foldgutter, .CodeMirror-foldgutter-folded, .CodeMirror-foldgutter-blank {
    color: #ccc;
    width: @width;
    cursor: default;
}

.CodeMirror-foldgutter-range:after {
	background: #eee;
	color: #eee;
	content: "|";
	width: @width;
	cursor: default;
}

.CodeMirror-foldgutter-open:after, .CodeMirror-foldgutter-beginrange:after {
    content: "\25bc";
	color: #aaa;
    font-size: 15px;
}
.CodeMirror-foldgutter-folded:after {
    content: "\25b6";
    font-size: 15px;
}

.CodeMirror-foldgutter-endrange:after {
	content: "\25b2";
	color: #aaa;
	font-size: 15px;
}



.CodeMirror-foldmarker {
    padding-right: 5px;
    padding-left: 5px;
    background: #eee;
    border: 1px solid #ddd;
    margin-right: 3px;
    margin-left: 3px;
    border-radius: 3px;
    color: #aaa;
    cursor: pointer;
}